.project {
	height: 50px;
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;

	border-radius: var(--br);
	background-color: var(--color1);
	box-shadow: var(--shadow);
}

.project-length {
	padding: 5px;
	border: 2px solid var(--color5);
	border-radius: 100px;
	color: var(--color5);
	font-weight: var(--fw-b);
	width: calc(var(--fs-p) * 2);
	text-align: center;
}

.project-length::selection {
	background-color: transparent;
	color: var(--color5);
}

.project.add-project {
	place-content: center;
	place-items: center;
	color: var(--color4);
}

.project.project.add-project svg {
	transform: scale(200%);
}
