.project {
	height: 50px;
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
	align-content: center;
	padding: 0 15px;

	border-radius: var(--br);
	background-color: var(--color1);
	box-shadow: var(--shadow);
}
