.main {
	grid-area: main;
	display: grid;
	gap: 5px;
	overflow-y: auto;
	padding: 5px;

	background: var(--color3);
	color: var(--color3-txt);
}

.main::-webkit-scrollbar {
	background-color: var(--color1);
}

.main::-webkit-scrollbar-thumb {
	background-color: var(--color2);
	box-shadow: var(--shadow);
}
