* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.todo {
	display: grid;
	grid-template-columns: 5px 1fr;
	grid-template-rows: auto auto;
	overflow: hidden;
	height: 60px;

	border: 2px solid var(--color1-txt);
	border-radius: var(--br);
	background-color: var(--color1);
	color: var(--color1-txt);
}

.todo::before {
	grid-row: 1 / -1;
	content: '';
}

.todo.low::before {
	background-color: var(--priority-low-clr);
}

.todo.normal::before {
	background-color: var(--priority-normal-clr);
}

.todo.high::before {
	background-color: var(--priority-high-clr);
}

.todo-hidden,
.todo-shown {
	padding: 20px;
	display: grid;
	place-items: center;
}

.todo-shown {
	grid-auto-flow: column;
}

.todo-shown > .title {
	justify-self: start;
}

.todo-shown > .dueDate {
	justify-self: end;
}

.todo-hidden {
	display: none;
}
