.footer {
	grid-area: footer;
	display: grid;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background: var(--color2);
}

.footer .link {
	color: var(--color2-txt);
	text-decoration: none;
	font-size: var(--fs-p);
}
